// base variables

// Body
//
// Settings for the `<body>` element.
// $body-bg:                   $white ;
// $body-color:                $gray-900 ;
$body-bg:                   #fff ;
$body-color:                #212529;


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px
// ) !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.
//
// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1140px
// ) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

// Grid columns
//
// Set the number of columns and specify the width of the gutters.
// $grid-columns:                12 !default;
// $grid-gutter-width:           30px !default;

$grid-columns:                12;
$grid-gutter-width:           30px;

// Font Base and Font size =======================
$font-family-base:            "Lato", sans-serif;
$font-size-base:              1rem ; // Assumes the browser default, typically `16px`
